<h3>Post</h3>

<h4><%= @posts.each do |post| %><h4>
<h4><%= post.title %></h4>
<h4><%= post.author %></h4>
<p><%= post.body%></p>
<p><%= link_to 'Show Post', post_path(post.id) %></p>
<p><%= link_to 'New Post', new_post_path %></p>
<% end %>
